/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

@import "compass/reset";
@import "compass/css3";

body {
	box-sizing: border-box;
}

h1 {
	color: red;
	font-size: 30px;
	margin: 10px;
}

p {
	font-size: 16px;
	margin: 10px;
}

ul {
	display: flex;
	li {
		width: 200px;
		height: 200px;
		background: yellow;
		border-radius: 50px;
		margin: 10px;
		flex-direction: row;
		line-height: 200px;
		font-weight: bold;
		font-size: 30px;
		text-align: center;
	}
}