#greet {
    background: url(#{$img-path}greet.jpg) no-repeat center fixed;
    background-size: cover;
    height: 100%;
    width: 100%;
    position: relative;
    top: 0px;
    left: 0px;
    display: block;
    svg#greet-logo {
        max-width: 860px;
        margin: 70px 50px 0 50px;
        padding-top: 50px;
        padding-bottom: 50px;
        @media (max-width: 35.5rem) {
            display: none;
        }

    }
    @media (max-width: 48em) {
        background: url(#{$img-path}greet.jpg) no-repeat top center;
        background-size: 100% 100%;
    }

    h1.greet-name, p.greet-des,  {
        font-size: 3.5em;
        text-align: center;
        color: $white-color;
        margin-top: 20px;
        margin-bottom: 20px;
        letter-spacing: 0.05em;
        @media (max-width: 48em) {
            font-size: 3.0em;
        }
        @media (max-width: 35.5rem) {
            font-size: 2.0em;
        }
    }

    h1.greet-name {
        @media (max-width: 35.5rem) {
            padding-top: 35%;
            margin-top: 0;
        }
    }

    p.greet-des {
        font-style: italic;
    }
    .greet-des {
        font-size: 3em;
        margin-bottom: 65px;
        @media (max-width: 35.5rem) {
            font-size: 2.5em;
        }
        @media (max-width: 35.5rem) {
            font-size: 1.5em;
        }
    }


    path{
        stroke:$white-color;
        fill:none;
        stroke-width:.2;
        stroke-dasharray: 140;
        stroke-dashoffset:140;
        -moz-animation:DASH 2s ease-in-out 1s forwards;
        -webkit-animation:DASH 3s ease-in-out .1s forwards;
        -o-animation:DASH 2s ease-in-out 1s forwards;
        animation:DASH 2s ease-in-out 1s forwards;
    /*    -webkit-transition:all .3s ease-in-out;
        transition:all .3s ease-in-out;*/
    }

    @keyframes DASH{
        0%  {stroke-dashoffset:140;fill:none;}
        80% {stroke-dashoffset:20;fill:none;}
        90% {stroke-dashoffset:0;fill:$white-color;stroke-width:.2;}
        100%{stroke-dashoffset:0;fill:$white-color;stroke-width:0;}
    }


}