#greet {
    background: url(#{$img-path}greet.jpg) no-repeat center fixed;
    background-size: cover;
    height: 100%;
    min-height: 400px;
    width: 100%;
    position: relative;
    top: 0px;
    left: 0px;
    display: block;
    svg#greet-logo {
        max-width: 960px;
        margin: 70px 50px 0 50px;
        padding-top: 50px;
        padding-bottom: 50px;
        @media (max-width: 480px) {
            display: none;
        }

    }
    @media (max-width: 768px) {
        background: url(#{$img-path}greet.jpg) no-repeat top center;
        background-size: 100% 100%;
    }
    @media (max-width: 480px) {
        background: url(#{$img-path}greet_s.jpg) no-repeat top center;
        background-size: 100% 100%;
    }

    h1.greet-name, p.greet-des,  {
        font-size: 3.5rem;
        text-align: center;
        color: $white-color;
        margin-top: 20px;
        margin-bottom: 20px;
        letter-spacing: 0.05em;
        @media (max-width: 768px) {
            font-size: 3.0rem;
        }
        @media (max-width: 480px) {
            font-size: 2.0rem;
        }
    }

    h1.greet-name {
        @media (max-width: 480px) {
            padding-top: 35%;
            margin-top: 0;
        }
    }

    p.greet-des {
        font-style: italic;
    }
    p.greet-des {
        font-size: 2.7rem;
        margin-bottom: 65px;
        @media (max-width: 768px) {
            font-size: 2.5rem;
        }
        @media (max-width: 480px) {
            font-size: 1.5rem;
        }
    }


    path{
        stroke:$white-color;
        fill:$white-color;
        stroke-width:.2;
        fill-opacity: 0;
        stroke-dasharray: 140;
        stroke-dashoffset:140;
        -moz-animation:animateLogo 3s ease-in-out 1s forwards;
        -webkit-animation:animateLogo 3s ease-in-out 1s forwards;
        -o-animation:animateLogo 3s ease-in-out 1s forwards;
        animation:animateLogo 3s ease-in-out 1s forwards;

    }

    @keyframes animateLogo{
        0%  {stroke-dashoffset:140;}
        80% {stroke-dashoffset:20;}
        90% {stroke-dashoffset:0;}
        95% {stroke-dashoffset:0;stroke-width:.2;fill-opacity:0;}
        100%{stroke-dashoffset:0;stroke-width:0;fill-opacity:1;}
    }


}