header {
	position: fixed;
	width: 100px;
	height: 100%;
	//background: rgba(0,0,0,0.5);
	overflow: hidden;
	z-index: 100;
	top: 0;
	@media (max-width: 35.5rem) {
        	height: 50px;
        	width: 100%;
    	}

	.pure-menu.pure-menu-open {
		background: $black-color;
		height: 100%;
		top: 0;
		bottom: 0;
		border: none;
		@media (max-width: 35.5rem) {
        	height: 50px;
        	width: 100%;
    	}
		a {
			font-size: 1rem;
			color: $white-color;
			&:hover {
				background: $green-color1;
			}
		}
		.logo>a:hover {
			background: inherit;
		}
		.logo-img {
			@media (max-width: 35.5rem) {
        		width: 36px;
        		height: auto;
        		margin-right: 20px;
    		}
		}

	}

}