.work-des {
	padding-top: 40px;
	padding-bottom: 40px;
	background: $grey-color1;
	h1 {
		font-size: 1.75rem;
		font-weight: normal;
		padding: 50px 30px 20px 30px;
		color: $black-color;
		text-align: center;
		border-bottom: 1px solid $black-color;
		margin-right: 20px;
		margin-left: 20px;
		margin-bottom: 25px;
		line-height: 1.5;


	}

	p {
		padding: 10px 20px;
		line-height: 1.5;
		font-size: 1.25rem;
		color: $black-color;
		font-weight: 300;
		i {
			font-size: 1.2rem;
		}
	}
	ul.tools {
		padding: 30px 60px;
		li.tool {
			line-height: 1.5;
			font-size: 1.1rem;
			i {
				margin-right: 15px;
				font-size: 1.0rem;
			}
		}
	}

	li.tool+li.tool {
		margin-top: 10px;
	}

	iframe {
		margin: 30px auto;
		display: block;
		max-width: 750px;
		width: 100%;
		height: 450px;
		@media (max-width: 480px) {
            height: 300px;
        }

	}
	img {
		margin: 30px auto;
		display: block;
		max-width: 650px;
		width: 100%;
		height: auto;

	}

}

.work-links {
	background: $white-color2;
	padding-top: 20px;
	padding-bottom: 20px;
	h2 {
		font-size: 1.5rem;
		text-align: center;
		padding-top: 10px;
		padding-bottom: 10px;
	}
	li {
		font-size: 1.25rem;
		margin-top: 13px;
		margin-bottom: 13px;
		text-align: center;
		a {
			font-weight: 300;
			&:hover {
				color: $green-color1;
			}
		}
	}
	a.arrow {
		font-weight: 400;
		color: $green-color1;
		&::before {
		margin-left: -18px;
        border: solid transparent;
        content: " ";
        height: 0;
        width: 0;
        position: absolute;
        pointer-events: none;
        border-left-color: $green-color1;
        border-width: 10px;
        margin-top: 1px;
		}
	}
}