#works1, #works2 {
	padding-top: 40px;
	padding-bottom: 40px;
	background: $grey-color1;
	h1 {
		font-size: 1.75rem;
		font-weight: normal;
		padding: 50px 30px 20px 30px;
		color: $black-color;
		text-align: center;
		border-bottom: 1px solid $black-color;
		margin-right: 20px;
		margin-left: 20px;
		margin-bottom: 25px;


	}

	p {
		padding: 10px 20px;
		line-height: 1.5;
		font-size: 1.25rem;
		color: $black-color;
	}

	iframe {
		margin: 30px auto;
		display: block;
		max-width: 750px;
		width: 100%;
		height: 450px;
		@media (max-width: 480px) {
            height: 300px;
        }

	}
	img {
		margin: 30px auto;
		display: block;
		max-width: 650px;
		width: 100%;
		height: auto;

	}

}

.work-links {
	background: $white-color2;
	padding-top: 20px;
	padding-bottom: 20px;
	h2 {
		font-size: 1.5rem;
		text-align: center;
		padding-top: 10px;
		padding-bottom: 10px;
	}
	li {
		font-size: 1.25rem;
		margin-top: 10px;
		margin-bottom: 10px;
		text-align: center;
		a:hover {
			color: $green-color1;
		}
	}
}